body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

header {
  background-color:black;
  color: yellow;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color:yellow;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color:blue;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
section{
  background: url(cutmfrontview.jpeg);
  background: url(cutmap.jpg);
}