@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap");

:root{
  --primary-color: rgb(231, 51, 51);;
  --secondary: #F4BE7C;
  --black: #22181cff;
  --white: #fff;
  --cardinal:#C42847;
  --snow: #fbf5f3ff;
  --oxford-blue: #000022ff;
  --rusty-red: #de3c4bff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}
.btech{
    align-items: center;
    color: rgb(0, 0, 0);
    /* background-color: black; */
}

.blog{
    padding:15rem 10rem 10rem 10rem;
 } 

.blog .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    /* height: 10%; */
    
  }
  
  .blog .box-container .box{
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
    /* max-width: 350px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
  }

  .blog .box-container .box:hover{
    box-shadow: 2px 2px 4px black;
  }
  
  .blog .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 2rem 2rem 0 0;
  }
  
  .blog .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .blog .box-container .box:hover .image img{
    transform: scale(1.1);
  }
  
  .blog .box-container .box .image h3{
    font-size: 1.5rem;
    color: #444;
    position: absolute;
    top: 1.5rem; left: 1rem;
    padding: .5rem 1.5rem;
    background: var(--white);
    border-radius: 2rem;
  }
  
  .blog .box-container .box .content{
    padding: 2rem 2rem;
    background: var(--snow);
    border-radius: 0 0 2rem 2rem;
  }
  
  .blog .box-container .box .content .icons{
    margin-bottom: 1rem;
    align-items: center;
  }
  
  .blog .box-container .box .content .icons a{
    font-size: 1.4rem;
    color: var(--primary-color);
  }
  
  .blog .box-container .box .content .icons a i{
    padding-right: .5rem;
  }
  
  .blog .box-container .box .content h3{
    font-size: 2.2rem;
    color: var(--black);
  }
  
  .blog .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--black);
    line-height: 2;
    padding: 1rem 0;
  }
  .heading{
    background: none;
  }
  